name: Update SATySFi Dev Flow

on:
  schedule:
    - cron: '52 15 * * *'

jobs:
  update-snapshot:
    name: Update snapshots
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.SG_REPO_GH_APP_ID }}
          private_key: ${{ secrets.SG_REPO_GH_APP_PRIV_KEY }}

      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: 4.12
          dune-cache: true

          opam-depext: false
          opam-pin: false

      - name: Install OCaml dependencies
        run: |
          opam install ocamlfind shexp

      - name: Add the latest SATySFi
        run: |
          eval $(opam env)
          ./scripts/add-satysfi

      - name: Update the develop snapshot
        run: |
          eval $(opam env)
          scripts/update-snapshot-satysfi --opam snapshot-develop.opam

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        id: cpr
        with:
          # token: ${{ secrets.REPO_PUBLIC }}
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: Update develop snapshots
          branch: update-develop-snapshot
          title: '[Automated] Update develop snapshot'
          body: |
            Update develop snapshot
          labels: |
            automated pr
          assignees: na4zagin3
          reviewers: na4zagin3
